<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adoctor.adoctor"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name="com.adoctor.adoctor.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.adoctor.adoctor.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.adoctor.adoctor.BRControlService"
            android:enabled="true"
            android:isolatedProcess="false"
            android:stopWithTask="false" >
        </service>

        <receiver android:name="ScreenStateReceiver" >
        </receiver>
        <receiver
            android:name="com.adoctor.adoctor.ServiceStarter"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.Restart.PersistentService" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="LogSender"/>
    </application>

</manifest>